//colors

$color-primary: #222;
$color-secondary: #f4f4f4;
$color-heading: #89d2da;

$color-btn: #e2d4d4;

//font-size

$default-font-size: 1.6rem;

//font-family
$font-primary: 'Raleway', sans-serif;

$font-secondary: 'Courgette', cursive;
