body {

  // .background-graphic {
  //   background-image: url('../images/SadMathGraphic-01.jpg');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   width: 100%;
  //   height: 150rem;
  //   z-index: -1;
  //   position: absolute;
  // }

  .background-design--left {
    background-image: url('../images/SadMathGraphic-left.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 168rem;
    position: absolute;
    top: 39rem;
    z-index: -1;

    @include respond(big-desktop) {
      width: 32%;
    }

    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-land-1) {
      width: 52%;
      height: 150rem;
    }

    @include respond(tab-port) {
      width: 49%;
      height: 125rem;
    }

    @include respond(phone-land-x) {
      width: 53%;
      height: 121rem;
    }

    @include respond(phone-land-3) {
      width: 56%;
      height: 119rem;
    }

    @include respond(phone-land-1) {
      width: 55%;
      height: 120rem;
    }

    @include respond(phone-land-2) {
      width: 58%;
      height: 115rem;
    }

    @include respond(phone-land) {
      width: 60%;
      height: 110rem;
    }

    @include respond(phone) {
      top: 44rem;
      width: 51%;
      height: 88rem;
    }
    @include respond(md-phone) {
      width: 65%;
      height: 81rem;
    }

    @include respond(sm-phone) {
      width: 70%;
      height: 79rem;
    }

    @include respond(xsm-phone) {
      width: 72%;
      height: 70rem;
    }
  }

  .background-design--right {
    background-image: url('../images/SadMathGraphic-right.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 30%;
    height: 118rem;
    position: absolute;
    right: 0;
    z-index: -1;

    @include respond(big-desktop) {
      width: 20%;
    }

    @include respond(tab-port) {
      width: 30%;
      height: 80rem;
    }

    @include respond(tab-land-1) {
      width: 35%;
    }

    @include respond(phone-land-3) {
      width: 32%;
    }

    @include respond(phone-land-1) {
      width: 33%;
      height: 79rem;
    }

    @include respond(phone-land-2) {
      width: 35%;
      height: 78.5rem;
    }

    @include respond(phone-land) {
      width: 37%;
      height: 78rem;
    }

    @include respond(phone) { 
      width: 38%;
      height: 76rem;
    }

    @include respond(md-phone) {
      width: 50%;
      height: 70rem;
    }

    @include respond(sm-phone) {
      width: 57%;
    }

    @include respond(xsm-phone) {
      width: 60%;
      height: 65rem;
    }
  }
}

.photo-quote {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }

  &__quote {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 3rem;
    margin-bottom: 7rem;
    margin-left: 6rem;

    @include respond(big-desktop) {
      width: 15%;
      position: absolute;
      left: 28%;
    }

    @include respond(tab-land) {
      margin-bottom: 3.5rem;
      margin-bottom: 0;
      margin-left: 0;
    }

    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(phone) {
      font-size: 1.5rem;
    }

    @include respond(md-phone) {
      font-size: 1rem;
      letter-spacing: 1px;
    }

    @include respond(sm-phone) {
      letter-spacing: .5px;
    }

    span {
      font-size: 1.6rem;
      font-family: $font-primary;
      color: $color-heading;
      display: block;
      text-align: end;
      text-transform: uppercase;

      @include respond(md-phone) {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
  }

  &__photo {
    width: 50%;
    padding: 3rem;

    @include respond(phone) {
      width: 100%;
      text-align: center;
    }
  }

  &__img {
    width: 90%;
    border-radius: 10px;
    filter: grayscale(100%);
    box-shadow: 10px 5px 5px rgba(#000, .5);

    @include respond(phone) {
      width: 80%;
    }
  }
}

.heading {
  margin-top: 4rem;
}

.music {
  display: flex;
  margin-top: 2rem;

  @include respond(phone) {
    flex-direction: column-reverse;
  }

  &__container-1 {
    width: 50%;
    text-align: center;

    @include respond(phone) {
      width: 100%;
    }
  }

  &__album-cover {
    h2 {
      font-family: $font-secondary;
      letter-spacing: 1px;
    }
  }

  &__album-cover--image {
    width: 50%;
    margin: 1rem 2rem 2rem 2rem;
    box-shadow: 8px 5px 5px rgba(#fff, .5);
    border-top: 1px solid rgba($color-secondary, .5);
    border-left: 1px solid rgba($color-secondary, .5);
    cursor: pointer;
  }
  
  &__guitar-photo {
    width: 50%;
    margin: 2rem;
    filter: grayscale(100%);
    box-shadow: 10px 5px 5px rgba(#000, .5);
  }

  &__container-2 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      width: 100%;
      height: 60rem;
    }

    @include respond(md-phone) {
      height: 50rem;
    }
  }

  &__playlist {
    height: 90%;
    width: 50%;
    padding: 1.5rem;
    background-color: rgb(41, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: $font-secondary;
    letter-spacing: 1px;
  }
}

.gigs {

  &__heading {
    text-align: center;
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 3rem;
    margin-top: 3rem;

    @include respond(phone) {
      font-size: 2.5rem;
    }

    @include respond(md-phone) {
      font-size: 1.8rem;
    }

    @include respond(sm-phone) {
      font-size: 1.5rem;
    }
  }

  &__current-shows {
    width: 80%;
    margin: 1rem auto;
  }

  &__show {
    font-size: $default-font-size;
    font-weight: bold;
    text-align: center;
    color: $color-heading;

    span {
      font-family: $font-secondary;
    }
  }

  &__photo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 60%;
    height: 100%;
    margin-top: 2rem;
    border-radius: 5px;
    filter: grayscale(100%);
    box-shadow: 10px 5px 5px rgba(#000, .5);

    @include respond(sm-phone) {
      width: 70%;
    }
  }
}

.background-container {
  display: flex;
  justify-content: center;
}

// .background-opacity {
//   background-color: rgba(34, 34, 34, 0.7);
//   width: 80%;
//   height: 47%;
//   position: absolute;
//   z-index: -1;
// }

.contact {
  // margin-top: 7vh;
  text-align: center;

  &__band-photo {
    border-radius: 5px;
    width: 80%;
    height: 20rem;
    margin: 0 auto;
  
      &--img {
        background-image: url('../images/look-left.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        filter: grayscale(80%) 
      }
  }
}

.icon-container {
  width: 13%;
  margin: 4rem auto;
  display: flex;
  // justify-content: space-between;

  @include respond(tab-port) {
    width: 18%;
  }

  @include respond(phone) {
    width: 20%;
  }

  @include respond(md-phone) {
    width: 35%;
  }

  @include respond(sm-phone) {
    width: 40%;
  }

  .icon:link,
  .icon:visited {
    text-decoration: none;
    color: $color-secondary;
  }

  ion-icon {
    font-size: 4rem;
    cursor: pointer;

    @include respond(phone) {
      padding: .5rem;
    }
  }
}




